@import "base";

#header {
    margin: 10px auto;
    text-align: center;
}

h2 {
    color: #aaa;
}

/* ==========================================================================
Browse Happy prompt
========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
